.hero{
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container{
  padding-top: 3rem;
}

.hero__media{
  width: 60%;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
}

.hero__media--video{
  width: 100%;
}
.hero__media--video video{
  width: 100%;
  border-radius: 100%;
  position: relative;
}

.hero__media--img{
max-width: 100%;
  max-height: 400px;
  position: absolute;
  margin-left: -80px;
}

@media (width <= 767px){
  .hero{
    min-height: 50vh;
  }
  .hero__container{
    padding: 1rem 0;
  }
  .hero__media{
    width: 90%;
    min-height: 200px;
    margin: 0 auto;
  }
  .hero__media--img{
      max-width: 100%;
      max-height: 300px;
      position: absolute;
      margin-left: -50px;
    }
}