/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'spartan' sans-serif;
}

:root{
  --primaryColor: #A2978F;
  --bgColor: #C3CDD3;
  --secondaryColor: #915747;
  --buttonColor: #342821;
  --hoverColor: #565356;
  --white: #fff;
  --black: #100f0f;
  --textColor: #121212;
  --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
}

/* Default styling */
body{
  background: var(--bgColor);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  cursor: pointer;
}

.icon{
  display: 1.3rem;
  cursor: pointer;
}


.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: 7rem 1.5rem;
  background: var(--primaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--white);
}
/* .btn a:hover{
  color: var(--white);
  font-weight: 500;
} */

.btn a:hover{
  background: var(--hoverColor);
}

input{
  font-size: 100%;
  color: var(--black);
}

p{
  font-size: 13px;
  color: var(--textColor);
  line-height: 22px;
}

h4{
  padding: 1rem 0;
  font-weight: 700;
  color: var(--black);
}
.h1{
  color: var(--black);
  font-weight: 700;
  font-size: clamp(20px, 3vw, 45px);
  line-height: 1.2;
}

h2{
  padding: 1rem 0;
  font-size: 25px;
  color: var(--black);
}


